.BacklogBoard {
  max-width: 80%;
  display: flex;

  > * + * {
    margin-left: 1rem;
  }
}

.BacklogList {
  background-color: $gray100;
  min-width: 25ch;
  border-radius: 0.5rem;

  h4 {
    padding: 0.8em;
    margin: 0;
    text-transform: uppercase;
    color: $gray600;
    font-size: 0.9rem;
  }
}

.BacklogIssue {
  background-color: $secondary;
  margin: 0.4em 0.8em;
  border-radius: 0.2rem;
  padding: 0.4em;
  h5 {
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
  }
}
