.Lead {
}

.Lead__heading .important-word {
  color: $primary;
}

.Lead__wrapper {
  display: flex;
  justify-content: space-around;
  height: 30rem;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.Lead__heading {
  h1 {
    font-size: 3rem;
    color: darken($gray, 45%);
  }
  h2 {
    font-size: 1.7rem;
    color: darken($gray, 30%);
  }
}

@media screen and (max-width: 768px) {
  .Lead__wrapper {
    flex-direction: column;
  }
  .Lead__heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
