.Navigation {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
}

.Navigation li {
  margin-left: 1em;
}

.Navigation a {
  text-decoration: none;
  color: $gray;
  font-weight: 600;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Projects-sidebar-listing .Nav-item a {
  padding-left: 1.4rem;
}

.Dashboard-Nav ul {
  flex-direction: column;
}

.Nav-item {
  cursor: pointer;
}

.Nav-item:hover {
  background-color: $lightGray;
}

.Nav-item a {
  display: block;
  padding: 0.7rem;
  font-size: 0.9rem;

  text-decoration: none;
  color: $gray;
}

.Nav-item--selected,
.Nav-item:hover.Nav-item--selected {
  background-color: lighten($primary, 40%);
  font-weight: 500;
  border-left: 3px solid $primary;
}

a.Nav-item--selected {
  color: $primary;
}
