.Sidebar {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: white;
  box-shadow: $lightShadow;
  padding-top: 2rem;
}

.Sidebar-Logout:last-child {
  margin-top: auto;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.Sidebar-Logout:last-child:hover {
  background-color: darken($gray, 30%);
  cursor: pointer;
}
