#{$buttons} {
  color: white;
  -webkit-appearance: none;
  border-radius: 4px;
  border: none;
  background: $primary;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1.4rem;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  line-height: 1;
}

#{$buttons}:hover {
  background: darken($primary, 5%);
}

#{$buttons}.button--secondary {
  background: $secondary;
  color: $dark-gray;
  border: 1px solid $dark-gray;
}

#{$buttons}.button--small {
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
}

#{$buttons}.button--large {
  padding: 0.7rem 1.9rem;
}

#{$buttons}.button--link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

#{$buttons}.button--link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 0.3rem;
  margin-left: 0.3rem;

  &.button--primary {
    color: $primary;
  }
}

#{$buttons}:disabled {
  background: $accent-gray;
  color: $secondary;
  cursor: not-allowed;

  &.button--secondary {
    border: none;
    background: lighten($accent-gray, $amount: 20%);
    color: darken($accent-gray, 20%);
  }
}
