@import "normalize";
@import "typography";
@import "variables";
@import "buttons";
@import "utilities";
@import "inputs";
body {
  margin: 0;
  font-family: $fontFamily, sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $fontSize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
