.control {
  margin-bottom: 1.2rem;
}

.control label {
  margin-bottom: 0.4rem;
  display: inline-block;
  font-weight: 600;
  font-size: 0.9rem;
  color: $darkGray;
}

.control input {
  border: 1px solid $gray;
  color: $darkGray;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 1rem;
}

[type="text"],
[type="email"],
[type="password"] {
  width: 100%;
}

[type="checkbox"],
[type="checkbox"] + label {
}

[type="checkbox"] + label {
  margin-left: 0.3rem;
}

.control .error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
