.central-wrapper {
  margin: 0 auto;
  max-width: 768px;
}

.center-form {
  margin: 0px auto;
  max-width: 450px;
}

.link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}
